/* base */

html,
body {
	height: 100%
}

body {
	background: #f2f2f2;
	font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif
}


/* header */

.header {
	position: relative;
	background: #222;
	background-image: url(../img/21.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 188px 0 0;
	text-align: center;
	min-height: 400px;
}



.search-form {
	display: block;
}

.search-form > form {
    position: relative;
    background: #f4f4f4;
    border-radius: 5px;
    color: #6b6b6b;
}

.search-input,
.submit-button {
    border: none;
    outline: none;
    background: transparent;
}

.search-input {
    width: 100%;
    height: 42px;
    padding-left: 16px;
    color: #6b6b6b;
}


 .submit-button {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}


.site-logo {
	margin: 40px auto;
	
	border: 0;
}


.site-logo span {
	font-weight: normal;
	color: #fff;
}


/* main */

.main {
	margin-top: 90px;
	margin-top: 40px;
	min-height: 500px;
}

#post-list {
	display: block;
}

#post-list img {
	display: block;
	max-width: 100%;
	height: auto
}

#post-list a.thumbnail:hover,
#post-list a.thumbnail:focus,
#post-list a.thumbnail.active {
	border-color: #777
}

#post-list .post-item {
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 40px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1)
}

#post-list .post-item .post-title {
	position: absolute;
	margin: 0;
	bottom: 12px;
	left: 0;
	right: 0;
	font-size: 24px;
	text-align: center;
	z-index: 9;
}

#post-list .post-item .post-title a {
	color: #777
}

#post-list .post-item .post-title a:hover,
#post-list .post-item .post-title a:focus {
	color: #222
}

#post-list .post-item .post-image {
	position: relative;
	padding-top: 62.5%;
	overflow: hidden
}

#post-list .post-item .post-image .thumbnail {
	position: absolute;
	top: 0;
	left: 0;
	margin-bottom: 0;
	padding: 12px;
	width: 100%;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border: none;
}

#post-list .post-item .post-image .thumbnail img {
	opacity: 0;
	-webkit-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s
}

#post-list .post-item .post-content {
	padding: 12px;
	display: none;
}

/* search result*/
.highlight{
	color: red;
}

#result-list{
	display: block;
}

.result-info{
	padding-left: 15px;
	padding-bottom: 15px;
}

.result-item {
	margin-bottom: 10px;
	position: relative;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1)
}

.result-title {
	padding: 12px 12px 0 12px;
}

.result-title a {
	font-size: 20px;
	color: #222;
}

.result-title a:hover,
.result-title a:focus {
	color: #222
}

.result-content {
	padding: 12px 12px 0 12px;
}

.result-content p{
	text-align: justify;
	line-height: 24px;
	color: #888;
}

.result-tags{
	padding: 0px 12px 12px 12px;
}

.result-tags span,
.result-tags i{
	display: inline-block;
	color: #959595;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	margin: 0 5px 0 0;
}

.result-tags i{
	color: #959595;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

/* pagination-1 */

.pagination {
	position: relative;
	display: block;
	font-size: 13px;
	text-align: center;
	color: #666;
}

.pagination>a {
	border: 1px solid #39414a;
	position: absolute;
	top: -10px;
	padding: 10px 5px;
	color: #39414a;
	white-space: nowrap;
	border-radius: 3px;
	text-decoration: none
}

.pagination>a:hover {
	border-color: #666;
	color: #fff;
	background: #4A4849
}

.pagination>a.older-posts {
	right: 0px
}

.pagination>a.newer-posts {
	left: 0px
}

.pagination .page-number {
	color: #39414a
}


/*pagination-2*/
/* 分页 */
.pagination{
	margin: 3rem auto;
	font-size: 1rem;
}

.pagination ul {
	list-style: none;
	padding-left: 0px;
}

.pagination ul li {
	display: inline-block;
	padding-left: 0px;
	margin: 0.1rem auto;
}

.pagination ul li a {
	border: solid 1px #d6d6d6;
	border-radius: 0.2rem;
	color: #7d7d7d;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	padding: 0.5rem 0.9rem;
	padding: 0.4rem 0.8rem;
}

.pagination ul li:hover a,
.pagination ul li.active a{
	color: #fdfdfd;
	background-color: #1d1f20;
	border: solid 1px #1d1f20;
}

.pagination ul li.disabled a{
	opacity: 0.6;
	cursor: not-allowed;
}

/* submit site */

.submit-site {
	background-color: #eee;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 20px
}


/* footer */

.footer {
	background: #202020;
	padding: 35px 0 0;
	color: #959595
}

.footer .widget {
	padding: 0 30px
}

.footer .widget .title {
	color: #ffffff;
	border-bottom: 1px solid #303030
}

.footer .widget .tag-cloud a {
	border: 1px solid #303030
}

.footer .widget .tag-cloud a:hover {
	border: 1px solid #337ab7
}

.widget {
	margin-bottom: 35px
}

.widget .title {
	margin-top: 0;
	padding-bottom: 7px;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 21px;
	position: relative
}

.widget .title:after {
	content: "";
	width: 90px;
	height: 1px;
	background: #337ab7;
	position: absolute;
	left: 0;
	bottom: -1px
}

.widget .friend-links a {
	display: block;
	border-bottom: 1px dashed #303030;
	padding-bottom: 14px;
	margin-bottom: 14px;
	color: #959595;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease
}

.widget .friend-links a:hover {
	color: #fff;
	text-decoration: none
}

.widget .friend-links a:last-child {
	margin-bottom: 0
}

.widget .tag-cloud a {
	border: 1px solid #ebebeb;
	padding: 2px 7px;
	color: #959595;
	line-height: 1.5em;
	display: inline-block;
	margin: 0 7px 7px 0;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease
}

.widget .tag-cloud a:hover {
	color: #ffffff;
	background: #337ab7;
	border: 1px solid #337ab7;
	text-decoration: none
}


/* copyright */

.copyright {
	background: #111;
	font-size: 13px;
	text-align: center;
	color: #555;
	padding-top: 14px;
	padding-bottom: 20px;
	border-top: 1px solid #303030
}

.copyright span {
	margin: 0 .5em
}

.copyright a {
	color: #555
}


/* other module */

#back-to-top {
	position: fixed;
	right: 10px;
	bottom: 10px;
	background: rgba(51, 122, 183, 0.6);
	color: #ffffff;
	text-align: center;
	border-radius: 2px;
	z-index: 1;
	display: none
}

#back-to-top:hover {
	background: #337ab7
}

#back-to-top i {
	width: 30px;
	height: 30px;
	line-height: 30px
}